@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width:640px)
{
    ::-webkit-scrollbar{
        width: 2px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: white; 
        
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: lightgray; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

.openme{
    animation-name: openmenu;
    animation-duration: 0.1s;
}

.closeme{
    animation-name: closemenu;
    animation-duration: 0.25s;
}

@keyframes openmenu {
    From{opacity: 0; width: 0%;}
    To{opacity: 1;  width: 100%;}
}

@keyframes closemenu {
    From{opacity: 1; width: 100%;}
    To{opacity: 0; width: 0%;}
}